:root {
	--color-primary: #7380ec;
	--color-light: rgba(132, 139, 200, 0.18);
    --color-background: white;
	--border-radius-1: 0.4rem;
	--font-color: #484848;
}

.dark-theme-variables {
	--color-background: #000;
	--font-color: #F8F8F8;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-background);
}

canvas {
	border: 1px solid red;
}

.pad {
	position: relative;
	margin: 4rem;
}

p {
	font-size: 8px;
	line-height: 8px;
	text-align: justify;
	/* -webkit-background-size: cover; */
    /* background-size: cover; */
	background-repeat: no-repeat;
	background-position: center;
	background: url(../img/mrrobot.jpg) no-repeat center/contain;
	background-attachment: fixed;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: rgb(255, 255, 255, 0);


}

h5 {

	margin: 10px 100px 10px 100px;
	max-width: 500px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 1rem;
	color: var(--font-color);
}

.right {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

.right .theme-toggler {
	background: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
	font-size: 1.2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .theme-toggler span.active {
	background: var(--color-primary);
	color: white;
	border-radius: var(--border-radius-1);
}

.right .to .theme-toggler {
	width: 4.4rem;
	position: absolute;
	left: 66%;
}


/* .right .top { */
/* 	position: fixed; */
/* 	top: 0; */
/* 	left: 0; */
/* 	align-items: center; */
/* 	padding: 0 0 0 0.8rem; */
/* 	height: 4.6rem; */
/* 	background: var(--color-white); */
/* 	width: 100%; */
/* 	margin: 0; */
/* 	z-index: 2; */
/* 	box-shadow: 0 1rem 1rem var(--color-light); */
/* } */

